.detailAll{
  margin: 0 300px 80px ;
}


/*返回*/
.goBack {
  color: #666666;
  font-weight: bold;
  font-size:15px;
  padding: 80px 0 50px;
}
.goBack a{
  text-decoration: underline;
  cursor: pointer;
}
.goBack a:hover{
   background-color: #eeeeee;
}


/*产品图片*/
.detailTop{
  width: 100%;
}

.detailPhoto{
  display: inline-block;
  border-right: 1px solid #dddddd;
  width: 40%;
}
.detailPhoto img{
  width: 80%;
  min-height: 160px;
  max-width: 400px;
  padding-left: 18%;
}


/* 产品名字 简介 */
.detailTitle{
  display: inline-block;
  vertical-align: top;
  padding-left: 10%;
  width: 40%;
}
.detailName{
  border-bottom: 1px solid #dddddd;
  padding-top: 15%;
  padding-bottom: 5%;
}

.detail{
  margin-top: 5%;
  padding: 5% 5%;
  width: 90%;
  background-color: #eeeeee;
  color: #666666;
}




/* 详细信息 */
.detailText{
  padding-top: 25px;
}
.detailTextTitle{
  padding: 15px 15px;
  margin-bottom: 25px;
  border: 1px solid #dddddd;
}
.detailTextTitle span{
  height: 100%;
  width: 200px;
  background-color: #dddddd;
}
