.content {
  margin: 100px 300px;
  text-align: center;
}

.contentTop p {
  text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/
  text-align: justify;
  line-height: 2em;/*行高*/
}
.contentTopParagraph p:first-child {
  padding: 50px 100px 0;
}
.contentTopParagraph p:last-child {
  padding: 0 100px 50px;
}

span{
  text-indent: 2em; /*em是相对单位，2em即现在一个字大小的两倍*/
}

h2 p {
  border-bottom: 1px solid #000000;
  padding: 6px;
}

h2 span{
  border-bottom: 5px solid #000000;
  padding-bottom: 10px;
}


