.headerMenu {
  min-height: 100px;
  width: 100%;
  background-color: #ffffff;
  list-style: none;
  text-decoration: none;
}

.webLogo {
  display: inline-block;
  text-align: center;
  margin-left: 10%;
}

.webLogo img {
  height: 100px;
  width: 300px;
}

nav {
  display: inline-block;
  background-color: #ffffff;
  margin-top: 35px;
  margin-right: 5%;
  float: right;
  width: 40%;
}

nav a {
  display: inline-block;
  padding: 8px 20px;
  color: #000000;
  font-size: 14px;
  text-decoration: none !important;
  background-color: transparent;
  width: 65px;
  text-align: center;

  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

/*nav ul li:first-child .home{
  border-radius: 3px 0 0 3px;
}

nav ul li:last-child .contact{
  border-radius: 0 3px 3px 0;
}*/

nav a:hover {
  color: #e9280c;
  /*  background-color: #f8f8f8;*/
}

/*小三角*/
b {
  position: absolute;
  top: 2px;
  left: 45px;
  height: 0;
  border-width: 9px;
  border-style: solid dashed dashed;
  border-color: transparent transparent #f3f4f5;
}

ul li {
  float: left;
  display: block;
  position: relative;
}

ul li ul li {
  float: none;
  background-color: #f3f4f5;
  text-align: center;
}

ul li ul li:first-child {
  border-radius: 3px 3px 0 0;
}

ul li ul li:last-child {
  border-radius: 0 0 3px 3px;
}

/*关键一：将二级菜单设置为display：none;*/
ul li ul {
  position: absolute;
  display: none;
  z-index: 999;
  padding-top: 20px;
}

ul li ul li:hover {
  color: #e9280c;
}

/*关键二：在划过二级菜单从属的一级菜单时，设置为display:block;*/
ul li:hover ul {
  display: block;
}

.router-link-exact-active,
.router-link-active {
  background-color: #e9280c !important;
  color: #ffffff !important;
}

.productsMenu .router-link-exact-active,
.technicalServicesMenu .router-link-exact-active,
.aboutMenu .router-link-exact-active {
  background-color: #f3f4f5 !important;
  color: #e9280c !important;
}




