.photoBox {
  display: inline-block;
  width: 50%;
  margin-top: 80px;
}

.photoBox img {
  width: 230px;
  height: 130px;
  border: 1px solid #ccc;
}

.photoBoxOne img:first-child {
  margin-right: 20px;
}

.photoBoxOne img {
  margin-right: 80px;
}

.photoBoxTwo img:first-child {
  margin: 20px 20px 0 0;
}

.photoBoxTwo img {
  margin: 20px 80px 0 0;
}
