/*返回顶部小部件*/
.scrollTop {
  color: #ffffff;
  width: 4.5em;
  position: fixed;
  right: 0;
  bottom: 230px;
  cursor: pointer;
  background-color: #000000;
  opacity: 0.5;
  border-radius: 3px 0 0 3px;
  padding: 10px;
}

.scrollTop:hover{
  color: #ffffff;
  background-color: #e9280c;
  opacity: unset;
}


/*淡入淡出*/
.scroll-enter{
  opacity: 0;
}
.scroll-enter-to{
  opacity: 0.5;
}
.scroll-enter-active{
  transition: 1s;
}

.scroll-leave{
  opacity: 0.5;
}
.scroll-leave-to{
  opacity: 0;
}
.scroll-leave-active{
  transition: 1s;
}

